.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}
.card{
    border-color: red;
    background-color: rgb(255, 245, 242);
}
h4 span{
    font-weight: bold;
    font-style: italic;
}

.btn.btn-link{
    border: gray 1px solid;
    background: white;
    color: black;
    transition: 0.3s;
}
.btn.btn-link:hover{
    background: grey;
}